/*
*   listbox.css
*/

div {
  --illini-orange:      #ff552e;
  --light-blue:         #cad9ef;
  --light-gray:            #eee;
}

[role='listbox'] {
  position: relative;
  height: 100%;
  overflow-y: auto;

  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2px;
}

[role='option'] {
  display: grid;
  grid-template-columns: repeat(6, 1.33rem) 1fr;
  column-gap: 2px;
  padding: 5px;
}

[role='option']:nth-child(even) {
  background-color: var(--light-gray);
}

[role='option']:hover {
  background: var(--light-blue);
}

[role='option'][aria-selected='true'],
[role='option'][aria-selected='true']:hover {
  outline: 2px solid var(--illini-orange);
  outline-offset:  -2px;
}

.grid-message { grid-column: 1 / span 7; }

.buttons-box {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  margin-top: 1.25rem;
}

button {
  font-size: 0.9125rem;
  border: 0;
  border-radius: 4px;
  padding: 6px 8px;
  background-color: var(--light-gray);
}

button:hover {
  background: rgba(12, 12, 13, 0.2);
}

button:active {
  background: rgba(12, 12, 13, 0.3);
}

button:focus {
  box-shadow: 0 0 0 1px #0a84ff inset,
              0 0 0 1px #0a84ff,
              0 0 0 4px rgba(10, 132, 255, 0.3);
}
