/*
*   listbox.css
*/

div {
  --illini-orange:      #ff552e;
  --light-blue:         #cad9ef;
  --light-gray:            #eee;
}

.listbox {
  position: relative;
  height: 100%;
  overflow-y: auto;

  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2px;

  border: 1px solid #ddd;
  padding: 5px;
}

.list-option {
  display: grid;
  grid-template-columns: repeat(6, 1.33rem) 1fr;
  column-gap: 2px;
  padding: 5px;
}

.list-option:nth-child(odd) {
  background-color: var(--light-gray);
}

.list-option:hover {
  background: var(--light-blue);
}

.list-option[aria-selected='true'],
.list-option[aria-selected='true']:hover {
  outline: 2px solid var(--illini-orange);
  outline-offset:  -2px;
}

.grid-message { grid-column: 1 / span 7; }
