/*
*   panel.css
*/

html, body {
  height: 95%;
  font: caption;
  margin: 2px 7px 0 6px;
  background-color: white;
}

body > h2 {
  font-size: 133%;
  margin: 0.66em 0 0.33em;
  padding: 0;
}

tab-set {
  height:  360px;
  margin-top:  1rem;
}

.content {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
}

#page-title-content {
  min-height: 60px;
}

#page-title-content p {
  margin: 0.5em 0;
}

body > details {
  height: 10%;
}

body > details > summary {
  font-size: 110%;
  font-weight: bold;
  margin: 1em 0;
}

body > details ul {
  padding: 0 1em;
}

body > details li:not(:first-child) {
  margin-top: 0.66em;
}

headings-box {
  height: 60%;
  margin-top: 0.5rem;
}

.buttons-container {
  margin-top: 1rem;
}

button.search {
  font-size: 12px;
  border: 0;
  border-radius: 2px;
  padding: 4px 8px;
  margin-top: 15px;
  background: rgba(12, 12, 13, 0.1);
}

button.search:hover {
  background: rgba(12, 12, 13, 0.2);
}

button.search:active {
  background: rgba(12, 12, 13, 0.3);
}

button.search:focus {
  box-shadow: 0 0 0 1px #0a84ff inset,
              0 0 0 1px #0a84ff,
              0 0 0 4px rgba(10, 132, 255, 0.3);
}

button.search:last-child {
  margin-left: 8px;
}
